.ld-background-base {
    background-color: #fff;
    background-image: url(https://raw.githubusercontent.com/suhajda3/my-links/main/cloud.svg);
    background-position: bottom center,50%,50%;  
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.ld-custom-name {
    color: #013b52;
}
.ld-custom-name:visited {
    color: #013b52;
}
.ld-custom-button-container {
    background: #fff;
    background: rgba(255,255,255,.4);   
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,.5);
    color: #013b52;
}
.ld-custom-button-container:hover {
    color: #fff;
    transform: scale(1.01); 
}
.ld-custom-background-layer {
    background-color: #fff;
}
.revision {
    display: none;
    opacity: 0;
}
.ld-profile-image {
    border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    box-shadow: 0 0 20px #5cc9f5;
    cursor: pointer;
}
.ld-profile-image:hover {   
    animation-direction: alternate;
    animation-duration: 1s;
    animation-name: border-ani;   
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1s;   
    -moz-animation-name: border-ani;   
    -webkit-animation-direction: alternate; 
    -webkit-animation-duration: 1s;    
    -webkit-animation-name: border-ani;   
}
@-webkit-keyframes border-ani {
    0%{
        border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    }
    50%{
        border-radius: 30% 70% 70% 30%/40% 60% 40% 60%;
    }
    100%{
        border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    }
}
@keyframes border-ani {
    0%{
        border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    }
    50%{
        border-radius: 30% 70% 70% 30%/40% 60% 40% 60%;
    }
    100%{
        border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    }
}
.ld-custom-description-h2 {
    color: #013b52;
}
